body{
    background-image: url("../pictures/jjjj.jpg");
}
img {
    width: 300px;
    display: block;
    margin: 0 auto;
}
#page {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 6px;
    font-size: 16px;
}
.menu {
    list-style-type: none;
    background-color: black;
    padding: 6px;
}
.menu li {
    display: inline;
    padding: 6px;
    color: white;
    font-size: 19px;
}
.menu li:hover {
    background-color: darkseagreen;
}
.menu a {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
h1 {
    margin: 12px 0 12px 0;
    text-align: center;
}
h2 {
    margin: 12px 0 12px 0;
    text-align: center;
    text-color: black;
}
h3 {
    margin: 12px 0 12px 0;
    text-align: center;
}
b {
    color:blue;
    text-align: center;
    font-size: 30px;
}
c {
    color:black;
    text-align: center;
    font-size: 30px;
}

