body{
    background: url("../pictures/rr.jpg") no-repeat center center;
    background-size: cover;
}
@font-face {
    font-family: Centarell-Bold;
   src: url("../fonts/Cantarell-Bold.ttf");
}
@font-face {
    font-family: Catamaran-Thin;
    src: url("../fonts/Catamaran-Thin.ttf");
}
a {
    font-family: Catamaran-Thin;
}
img {
    width: 300px;
    display: block;
    margin: 0 auto;
}
#page {
    width: 650px;
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    font-size: 16px;
}
#page img {
    width: 100%;
}
.menu {
    list-style-type: none;
    background-color: black;
    padding: 6px;
}
.menu li {
    display: inline;
    padding: 6px;
    color: white;
    font-size: 19px;
}
.menu li:hover {
    background-color: darkseagreen;
}
.menu a {
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
h1, h2, h3 {
    margin: 12px 0 12px 0;
    text-align: center;
    font-family: Centarell-Bold;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
}
h2 {
    font-size: 35px;
    margin-top: 30px;
}
h2 a {
     color: black;
     text-decoration: none;
     text-align: center;
     font-size: 30px;
}
h2 a:hover {
    text-decoration: underline;
}
b {
    color:blue;
    text-align: center;
    font-size: 20px;
}
p {
    font-family: Catamaran-Thin;
}

footer {
    margin: 0 auto;
    background-color: darkseagreen;
    width: 100%;
    padding: 12px 0;
}
footer a {
    padding: 0 6px;
    text-decoration: none;
    color: black;
}
.kontakt {
    font-family: Catamaran-Thin;
}

